<header class="head">
	<div class="header fn-clear">
		<section class="header-cnt fn-clear">
			<div class="logo">
				<div class="logo-cnt">
				 	<h1><a href="/">{{ site.blogName }}</a></h1>
				 	<h2>{{ site.blogDesc }}</h2>
				</div>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="/" >主页</a></li>
					<li><a href="/archives.html" >所有文章</a></li>
					<li><a href="/contact.html" >关于</a></li>
					<!-- <li><a href="/atom.xml" target="_blank" >订阅</a></li> -->
				</ul>
			</nav>
		</section>
	</div>
</header>
